<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="css/mycss.css" rel="stylesheet" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>

    <nav>
        <a asp-controller="xbox" asp-action="Index">Home</a>
        <a asp-controller="xbox" asp-action="GradeCalc">Grade Calculator</a>
    </nav>


    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>

    <div>

        @RenderBody()

    </div>

</body>

</html>
